---
import Seo from "../components/Seo.astro";

---

<html lang="en">
	<head>
		<Seo seo={{ title: "VietPhan", description: "VietPhan Description", keywords: "", canonical: "", image: '', type: "website"}} />
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body> <header class="flex flex-col relative shrink-0 box-border h-auto pb-8 empty:min-h-[30vh]"><section class="bg-white dark:bg-gray-900"><section class=" main-component bg-white dark:bg-gray-900"><div class="mx-auto grid px-4 pb-8 pt-20 lg:grid-cols-12 lg:gap-8 lg:py-16 lg:pt-28 xl:gap-0 max-w-screen-2xl"><div class="mr-auto place-self-center lg:col-span-7"><h1 class="mb-4 max-w-2xl whitespace-pre-wrap text-4xl font-extrabold leading-none tracking-tight dark:text-white md:text-5xl lg:text-6xl">Building digital 
products &amp; brands.</h1><p class="mb-6 max-w-2xl font-light text-gray-500 dark:text-gray-400 md:text-lg lg:mb-8 lg:text-xl">Hello This free and open-source landing page template was built using the utility classes from Tailwind CSS and based on the components from the Flowbite Library Blocks System.</p><div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0"><a href="https://github.com/themesberg/landwind" target="_blank" class="inline-flex w-full items-center justify-center rounded-lg border border-gray-200 px-5 py-3 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800 sm:w-auto">View on GitHub</a><a href="https://www.figma.com/community/file/1125744163617429490" target="_blank" class="mb-2 mr-2 inline-flex w-full items-center justify-center rounded-lg border border-gray-200 bg-white px-5 py-3 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto">Get Figma file</a></div></div><div class="hidden lg:col-span-5 lg:mt-0 lg:flex"></div></div></section></section></header><main class="flex flex-col relative shrink-0 box-border h-auto pb-8 empty:min-h-[30vh]"><button class="relative mt-5 box-border flex shrink-0 cursor-pointer appearance-none flex-col rounded bg-black px-6 py-4 text-center text-white" alt="Button">Button</button></main><footer class="flex flex-col relative shrink-0 box-border h-auto pb-8 empty:min-h-[30vh]"></footer> </body>
</html>
